@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Electrolize&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400..800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* SMOOTH SCROLL */
html{
    scroll-behavior: smooth;
}

/* BUTTON */

.btn{
    font-weight: 500;
    padding: 12px 20px;
    background: #efefef;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: .4s;
}

.btn>i{
    margin-left: 10px;
}

.btn:hover{
    background: #505148;
    color: #efefef;
}

/* CHANGE THE SCROLL BAR DESIGN */

::-webkit-scrollbar{
    width: 10px;
    border-radius: 25px;
}

::-webkit-scrollbar-track{
    background: #1b1b1b;
}

::-webkit-scrollbar-thumb{
    background: #505148;
    border-radius: 30px;
}

::-webkit-scrollbar-thumb:hover{
    background: #bbb;
}

.header{
    position: fixed;
    display: flex;
    justify-content: space-between;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background: rgba(255, 255, 255, 0.1); /* Yarı saydam arka plan */
    backdrop-filter: blur(10px); /* Bulanıklık efekti */
    -webkit-backdrop-filter: blur(10px); /* Safari desteği */
    z-index: 1000; /* Diğer içeriklerin navbar'ın altında kalmasını sağlar */
    display: flex;
    align-items: center;
    padding: 0 20px;
}

.logo{
    font-family: 'Electrolize', sans-serif;
    font-size: 25px;
    color: #1b1b1b;
    text-decoration: none;
    font-weight: 600;
}

.navbar a{
    display: inline-block;
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
    color: black;
    text-decoration: none;
    font-weight: 500;
    margin: 0 20px;
    position: relative;
}

.navbar a:after{
    content: "";
    position: absolute;
    background-color: #1b1b1b;
    height: 2px;
    width: 0;
    left: 0;
    bottom: -7px;
    transition: 0.3s;
}

.navbar a:hover:after{
    width: 100%;
}

.social-media{
    display: flex;
    justify-content: space-between;
    width: 170px;
    height: 40px;
}

.social-media a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid transparent;
    text-decoration: none;
    font-size: 24px;
    color: black;
    transition: transform 0.3s, color 0.3s;
}

.social-media a:hover{
    transform: scale(1.2);
    color: white;
}

.social-media a {
    color: white;
}

.navbar a {
    color: white;
}

body.scrolled .social-media a {
    color: black;
}

body.scrolled .navbar a {
    color: black;
}

.home-bg{
    background-image: url(sadebg.png);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 50px 8% 0;
}

.home-content{
    font-family: 'Poppins', sans-serif;
    max-width: 630px;
}

.home-content h1{
    font-size: 50px;
    line-height: 1.2;
    opacity: 0;
    animation: slideBottom 1s ease forwards;
    animation-delay: 1s;
}

.home-content p{
    font-size: 30px;
    margin: 15px 0 30px;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: 1.3s;
}

.home-content p span{
    color: #fff;
}

.home-content .p2{
    font-size: 17px;
    margin: -25px 0 30px;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: 1.6s;
}


.marquee {
    width: 100%;
    overflow: hidden;
    background: #bbb; /* Arka plan rengi */
    padding: 10px 0;
    white-space: nowrap;
    position: relative;
}

.marquee-content {
    display: inline-block;
    white-space: nowrap;
    animation: marquee-animation 28s linear infinite;
}

.marquee-content span {
    font-family: 'Poppins', sans-serif;
    display: inline-block;
    font-size: 15px;
    font-weight: lighter;
    padding: 0 20px;
    color: black;
}

/* Animasyon */
@keyframes marquee-animation {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-50%);
    }
}



/* ABOUT */

/* .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 2rem; 
    max-width: 1200px;
    margin: 0 auto;
    max-height: 600px;
    padding: 20px;
}

.text {
    max-width: 600px;
    line-height: 1.8;
    font-family: "Outfit", serif;
    color: rgba(0, 0, 0, 0.5);
}

.text h1 {
    font-family: "Syne", serif;
    font-size: 2.5rem;
    font-weight: bold;
    color: rgb(0, 0, 0);
    
}


.image img {
        max-width: 95%; 
        height: auto;
        display: block;
        margin: 0 auto; 
    
} */

/* ABOUT3 */


.about-section h2 {
    font-family: "Syne", serif;
    font-size: 28px;
    margin: 20px 0;
    text-align: center;
}

.about-content {
    display: flex;
    justify-content: center;
    gap: 30px;
    align-items: flex-start;
    max-width: 900px;
    margin: auto;
}

.intro-card {
    background: white;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 60%;
    text-align: left;
}

.intro-card h3 {
    margin-top: 0;
    font-family: "Syne", serif;

}

.intro-card p {
    font-size: 14px;
    color: #666;
    line-height: 1.8;
    font-family: "Outfit", serif;

}

.btn {
    display: inline-block;
    padding: 10px 15px;
    background-color: #666;
    color: white;
    border-radius: 8px;
    text-decoration: none;
    margin-top: 10px;
    font-size: 14px;
    font-family: "Outfit", serif;

}

.btn i {
    margin-left: 5px;
}

.skills {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 45%;
}

.skills h3 {
    text-align: left;
    margin-bottom: 10px;
    font-family: "Syne", serif;

}

.skill {
    background-color: #666;
    color: white;
    padding: 6px 12px;
    border-radius: 20px;
    font-size: 14px;
    margin: 3px;
    display: inline-block;
}

/* Responsive */
@media (max-width: 768px) {
    .about-content {
        flex-direction: column;
        align-items: center;
    }

    .intro-card, .skills {
        width: 90%;
    }
}






/* KEYFRAMES ANIMATION */

@keyframes slideRight{
    0%{
        transform: translateX(-100px);
        opacity: 0;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideTop{
    0%{
        transform: translateY(100px);
        opacity: 0;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideBottom{
    0%{
        transform: translateY(-100px);
        opacity: 0;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideSci{
    0%{
        transform: translateX(100px) rotate(45deg);
        opacity: 0;
    }
    100%{
        transform: translateX(0) rotate(45deg);
        opacity: 1;
    }
}