@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Electrolize&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 8%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo{
    font-family: 'Electrolize', sans-serif;
    font-size: 25px;
    color: #1b1b1b;
    text-decoration: none;
    font-weight: 600;
}

.navbar a{
    display: inline-block;
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
    color: black;
    text-decoration: none;
    font-weight: 500;
    margin: 0 20px;
    position: relative;
}

.navbar a:after{
    content: "";
    position: absolute;
    background-color: #1b1b1b;
    height: 2px;
    width: 0;
    left: 0;
    bottom: -7px;
    transition: 0.3s;
}

.navbar a:hover:after{
    width: 100%;
}

.social-media{
    display: flex;
    justify-content: space-between;
    width: 170px;
    height: 40px;
}

.social-media a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid transparent;
    text-decoration: none;
    font-size: 24px;
    color: black;
    transition: transform 0.3s, color 0.3s;
}

.social-media a:hover{
    transform: scale(1.2);
    color: white;
}

.social-media a {
    color: white;
}

.navbar a {
    color: white;
}

body.scrolled .social-media a {
    color: black;
}

body.scrolled .navbar a {
    color: black;
}

.home-bg{
    background-image: url(sadebg.png);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 50px 8% 0;
}

.home-content{
    font-family: 'Poppins', sans-serif;
    max-width: 630px;
}

.home-content h1{
    font-size: 50px;
    line-height: 1.2;
    opacity: 0;
    animation: slideBottom 1s ease forwards;
    animation-delay: 1s;
}

.home-content p{
    font-size: 30px;
    margin: 15px 0 30px;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: 1.3s;
}

.home-content p span{
    color: #fff;
}

.home-content .p2{
    font-size: 17px;
    margin: -25px 0 30px;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: 1.6s;
}

/* ABOUT - CONTAINER */

.about .container {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
}

.about .container img {
    margin-left: 8%;
}

.about .container .about-content{
    text-align: center;
}

.about .container .about-content h1{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.about .container .about-content p{
    box-sizing: border-box;
    margin-top: 0;
    margin-bottom: 0.9rem;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}


/* KEYFRAMES ANIMATION */

@keyframes slideRight{
    0%{
        transform: translateX(-100px);
        opacity: 0;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideTop{
    0%{
        transform: translateY(100px);
        opacity: 0;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideBottom{
    0%{
        transform: translateY(-100px);
        opacity: 0;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideSci{
    0%{
        transform: translateX(100px) rotate(45deg);
        opacity: 0;
    }
    100%{
        transform: translateX(0) rotate(45deg);
        opacity: 1;
    }
}